<div class="jumbotron"> 
  <p>Welcome to OkFounder.</p> 

  <p> API and BL can be found at <a href="https://github.com/SellaRafaeli/okfounder/blob/master/bl/users.rb">https://github.com/SellaRafaeli/okfounder/blob/master/bl/users.rb</a>.</p>

  <p> Make sure you also check out the <a href="/admin">admin panel</a>.</p>
</div>
