<div class="jumbotron"> 
  <p>Welcome to OkFounder.</p> 

  <p> Sign up at <a href="http://bit.do/sweet_ass_ventures">http://bit.do/sweet_ass_ventures</a>.</p>

  <p> View results at <a href="http://bit.do/sweet_ass_ventures_results">http://bit.do/sweet_ass_ventures_results</a>.</p>

  <p> FE at <a href="https://okfounder.firebaseapp.com/#/">https://okfounder.firebaseapp.com/#/</a>

  <p> Other FE at <a href="https://sellarafaeli.com/okfounder">https://sellarafaeli.com/okfounder</a>

  <p> API and BL can be found at <a href="https://github.com/SellaRafaeli/okfounder/blob/master/bl/users.rb">https://github.com/SellaRafaeli/okfounder/blob/master/bl/users.rb</a>.</p>

  <p> Make sure you also check out the <a href="/admin">admin panel</a>.</p>
</div>
